@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row categories__item categories__large__item set-bg" style="text-align: center; display: flex;
				justify-content: center; align-items: center;overflow: hidden;
				flex-shrink: 0;width: 100%; height: 100%; object-fit: cover;">
	<h2>Your favorites list is <span>empty</span></h2> <br />
	<div class="img"><img src="~/img/empty-fav.svg" alt=""></div>
	<div class="desc">Add items that you like to your favorites list. Review them anytime and easily move them to the next step.</div>
</div>

